#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form fieldset{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
}
.form fieldset legend{
    margin-left: 2px;
    margin-right: 2px;
}

.form fieldset button{
    margin-top: 1rem;
    padding: 2px;
}

.form fieldset p{
    margin-top: 1rem;
}

.form fieldset input{
    padding: 1px;
}
